<h3>{{model.name}}</h3>

<button {{action 'randomCreate'}}>Create Item</button>
{{one-way-input tempName update=(action (mut tempName))}}

<ol>
  {{#each model.items as |item|}}
    <li>
      {{item.name}} - {{one-way-input item.q update=(action update item 'q')}} <button {{action deleteItem item.id}}>Delete Item</button>
    </li>
  {{/each}}
</ol>



<button {{action submit model}}>Submit</button>
